//CONSTRAINTS - Mapping of registers with the 
//components of the SPARTAN 3 FPGA console

NET clk LOC = T9;
NET an3 LOC = E13;
NET an2 LOC = F14;
NET an1 LOC = G14;
NET an0 LOC = D14;

NET led_a LOC = E14;
NET led_b LOC = G13;
NET led_c LOC = N15;
NET led_d LOC = P15;
NET led_e LOC = R16;
NET led_f LOC = F13;
NET led_g LOC = N16;
NET dp LOC = P16;
NET reset LOC = L14;

NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 20 ns HIGH 50 %;
